
  <div class="container" >
    
    <h1>Plan</h1>
    
    <!--Form-->
    <form ng-submit="createUser()">
      <h4>Create Plan</h4>
      <div class="form-group">
        <label class="control-label col-md-2">Plan Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.plan_name" placeholder="" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">Plan Code</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.plan_code" placeholder="" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-2">Description</label>
        <div class="col-md-4">
            <input type="text" class="form-control" ng-model="user.description" placeholder="" />
        </div>
      </div>
      <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="submit" class="btn  btn-sm" ng-show="submit" />    
      <input type="button" value="update" ng-click="updateUser()" class="btn btn-default btn-sm" ng-show="update" />    
      <input type="button" value="cancel" ng-click="cancelUpdate()" class="btn btn-default btn-sm" ng-show="cancel"/>    
      </div>
    </form>
    <!--End Form-->
    
    <!--Users List-->
    <br />
    <h4>Users List</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Name</td>
          <td>Plan Code</td>
          <td>Description</td>
          <td>Action Commands</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{user.plan_name}}</td>
          <td>{{user.plan_code}}</td>
          <td>{{user.description}}</td>
          <td>
            <button class="btn btn-default btn-sm" ng-click="editUser(user)">Edit</button>
            <button class="btn btn-default btn-sm" ng-click="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
 
    </table>
    
  </div>

