<!DOCTYPE html>
<html>

<head>
  <!-- <link data-require="bootstrap@4.0.5" data-semver="4.0.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.0.5" data-semver="4.0.5" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script> -->
  <script data-require="angularjs@1.6.2" data-semver="1.6.2"
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <script src="package.js"></script>
</head>

<body class="container" ng-app="myApp" ng-controller="studentController" ng-cloak>

  <h1>Packages</h1>

  <!--Form-->
  <form ng-submit="createUser()">
    <h4>Create Package</h4>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label">Package Name</label>
        <input type="text" class="form-control" ng-model="user.package_name" placeholder="" />
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Plan Name</label>
        <input type="text" class="form-control" ng-model="user.plan_name" placeholder="" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label">Dietitian Name</label>
        <input type="text" class="form-control" ng-model="user.dietitian_name" placeholder="" />
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Duration</label>
        <input type="text" class="form-control" ng-model="user.duration" placeholder="" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label">isGroupPackage</label>
        <input type="text" class="form-control" ng-model="user.isGroupPackage	" placeholder="" />
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Description</label>
        <input type="text" class="form-control" ng-model="user.description" placeholder="" />
      </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
      <input type="submit" value="submit" class="btn  btn-sm" ng-show="submit" />
      <input type="button" value="update" ng-click="updateUser()" class="btn btn-default btn-sm" ng-show="update" />
      <input type="button" value="cancel" ng-click="cancelUpdate()" class="btn btn-default btn-sm" ng-show="cancel" />
    </div>
  </form>
  <!--End Form-->

  <!--Users List-->
  <br />
  <h4>Users List</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td>Code</td>
        <td>Duration</td>
        <td>Plan Name</td>
        <td>Dietitian Name</td>
        <td>isGroupPackage</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.package_name}}</td>
        <td>{{user.package_code}}</td>
        <td>{{user.duration}}</td>
        <td>{{user.plan_name.plan_name}}</td>
        <td>{{user.dietitian_name.dietitian_name}}</td>
        <td>{{user.isGroupPackage	}}</td>
        <td>
          <button class="btn btn-default btn-sm" ng-click="editUser(user)">Edit</button>
          <button class="btn btn-default btn-sm" ng-click="deleteUser(user)">Delete</button>
        </td>
      </tr>
    </tbody>

  </table>

</body>

</html>